body {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

body > main {
    background-color: rgb(87, 139, 235);
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 890px;
    padding: 0 12px;
}

#presenca {
    font-size: 1.2rem;
}

.verde {
    color: green;
    font-size: 1.5rem;
}

.vermelho {
    color: red;
    font-size: 1.5rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #ccc;
    padding: 20px 12px;
    margin-bottom: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.card > .first-child {
    flex: 1;
}

.input-wrapper > * {
    display: block;
    margin-bottom: 12px;
}

.input-wrapper > label {
    font-weight: bold;
    font-size: 1.2rem;
}

.input-wrapper > input {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 8px 12px;
    width: 50%;
}

#submeter > button {
    background-color: rgb(87, 139, 235);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;

    font-family: "Lato", sans-serif;
}
